# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant
.gitignore
runtime/debug/5c9dca3f56e60.data
runtime/debug/5c9dca405763a.data
runtime/debug/5c9dca418a41e.data
runtime/debug/5c9dca452fca3.data
runtime/debug/5c9dca459e3b6.data
runtime/debug/5c9dca46c56ed.data
runtime/debug/5c9dca481ffd1.data
runtime/debug/5c9dca4886e48.data
runtime/debug/5c9dca49a374f.data
runtime/debug/5c9dca4d21caf.data
runtime/debug/5c9dca4de7a11.data
runtime/debug/5c9dd12059120.data
runtime/debug/5c9dd1286d399.data
runtime/debug/5c9dd12cd4b9d.data
runtime/debug/5c9dd12e0b195.data
runtime/debug/5c9dd1313841e.data
runtime/debug/5c9dd1354c92e.data
runtime/debug/5c9dd1362dffe.data
runtime/debug/5c9dd13799427.data
runtime/debug/5c9dd184a7d7d.data
runtime/debug/5c9dd18b49275.data
runtime/debug/5c9dd18e2068b.data
runtime/debug/5c9dde217ef2a.data
runtime/debug/5c9dde2972179.data
runtime/debug/5c9dde2c004d9.data
runtime/debug/5c9dde2dc0a56.data
runtime/debug/5c9dde31d4969.data
runtime/debug/5c9dde341de14.data
runtime/debug/5c9dde35d5883.data
runtime/debug/5c9dde371465f.data
runtime/debug/5c9dde39a69f4.data
runtime/debug/5c9dde423653f.data
runtime/debug/5c9dde4429cb5.data
runtime/debug/5c9dde46ec3c5.data
runtime/debug/5c9dde86c4ff8.data
runtime/debug/5c9dde89ebac3.data
runtime/debug/5c9dde91143b5.data
runtime/debug/5c9ddea376fd5.data
runtime/debug/5c9ddea573cde.data
runtime/debug/5c9ddea6268f3.data
runtime/debug/5c9de1cf3ad47.data
runtime/debug/5c9de257705cd.data
runtime/debug/5c9de2724057e.data
runtime/debug/5c9de2a01b52b.data
runtime/debug/5c9de2a307db8.data
runtime/debug/5c9de2a51a24a.data
runtime/debug/5c9de2a74f3b3.data
runtime/debug/5c9de660ba805.data
runtime/debug/5c9de662e9e29.data
runtime/debug/5c9de722d815b.data
runtime/debug/5c9de728dc2f7.data
runtime/debug/5c9de73b758d4.data
runtime/debug/5c9de76f6a9b7.data
runtime/debug/5c9de770327b9.data
runtime/debug/5c9de8a841e73.data
runtime/debug/5c9de8acafee7.data
runtime/debug/5c9de8b08da7d.data
runtime/debug/5c9de8bc44597.data
runtime/debug/5c9de8c03a41c.data
runtime/debug/5c9dea639794b.data
runtime/debug/5c9dea6d0a897.data
runtime/debug/5c9dea6f890a8.data
runtime/debug/5c9dea71897e2.data
runtime/debug/5c9df0b6d65b5.data
runtime/debug/5c9df0b805189.data
runtime/debug/5c9df5f5e191b.data
runtime/debug/5c9df602c7009.data
runtime/debug/5c9df62ac285b.data
runtime/debug/5c9df62dae9a0.data
runtime/debug/5c9df664000f5.data
runtime/debug/5c9df66e459b9.data
runtime/debug/5c9df670e055a.data
runtime/debug/5c9df67265958.data
runtime/debug/5c9df68785069.data
runtime/debug/5c9df68922fe8.data
runtime/debug/5c9df68c6a9fb.data
runtime/debug/5c9df8375f305.data
runtime/debug/5c9dfbacb808a.data
runtime/debug/5c9dfbae5dcd9.data
runtime/debug/5c9dfbe5be74c.data
runtime/debug/5c9dfbe7211ba.data
runtime/debug/5c9dfbf8efd32.data
runtime/debug/5c9dfc73f3436.data
runtime/debug/5c9dfc74c467c.data
runtime/debug/5c9dfc76ea814.data
runtime/debug/5c9dfc8721434.data
runtime/debug/5c9dfc913ddcf.data
runtime/debug/5c9dfc9384eb5.data
runtime/debug/5c9dfc9889cd8.data
runtime/debug/5c9dfc9953ac4.data
runtime/debug/5c9dfdcf84892.data
runtime/debug/5c9dfdd0b501c.data
